.card_00 {
    width: 30rem;
    border-radius: 19px;

    border: none;
    margin-bottom: 20px;
    user-select: none;
    overflow: hidden;
}

.card_00:hover {
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.4);
    ;
}

.card_img {
    height: 18rem;
    overflow: hidden;
    border-radius: 20px;
}

.card_00>.card_img>img {
    height: 100%
}
/* 
.card-img-top:hover {
    transition: 1000ms;
    transform: scale(1.2);
} */

.card_01 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card_superH {
    border-radius: 20px;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: rgb(79, 79, 79);
    border: 1px solid rgb(79, 79, 79);
    height: 30px;
}

.card_beds {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: rgb(130, 130, 130);
}

.card_stars {
    display: flex;
    align-items: center;
}

.card_rating {
    color: rgb(79, 79, 79);
}

.card_title {
    color: rgb(51, 51, 51);
}

@media (max-width: 1100px) {

    .card_00>.card_img {
        height: 250px;
    }

    .card_00>.card_img>img {
        height: 100%;
    }

    .card_beds {
        font-size: 13px;
    }

    .card_rating {
        font-size: 13px;
    }

    .fw-bold {
        font-size: 13px;
        margin: 1px;
    }

    .card_superH {
        border-radius: 20px;
        padding: 0px;
        font-size: 10px;
        font-weight: 700;
        justify-content: center;
        width: 90px;
    }
}